@import 'var';
 @import 'mixin';

.newsCard__wrap{
    display: flex;
    justify-content: space-between;
    align-items: top;
    flex-wrap: wrap;
    width: 70%;
}
.newsCard__cardWrap{
    width:calc(50% - 30px); 
    @include card;
     height: auto;
    min-height: 385px;
}

.newsCard__cardWrap:hover{
    box-shadow: 1px 1px 20px rgba(186, 186, 186, 0.1);
}

.newsCard__cardWrap a:hover h4{
    color: $blueColor;
}


.newsCard__card a{
    width: 100%;
    height: 100%;
}

.newsCard__card img{
border-radius:5px;
}

.newsCard__cardTitle h4{
    padding: 0.5em 0;
}

.newsCard__card p{
color: $greyColor;
font-size: 16px;
cursor: pointer;
}

.newsCard__card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}
