@import 'mixin';
@import 'var';


.cardsWrap{
    display: flex;
    justify-content: space-between;
    align-items: top;
    flex-wrap: wrap;
    width: 70%;
}
.cards{
    width:calc(50% - 30px); 
    @include card;
     height: auto;
    min-height: 385px;
}

.cards:hover{
    box-shadow: 1px 1px 20px rgba(186, 186, 186, 0.1);
}

.cards a:hover h3{
    color: $blueColor;
}


.card a{
    width: 100%;
    height: 100%;
}

.card img{
border-radius:5px;
}

.card h3{
    padding: 0.5em 0;
    cursor: pointer;
}

.card p{
color: $greyColor;
font-size: 16px;
cursor: pointer;
padding: 5px 0;
}

.card__info{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

 .card .card__price{
    font-size: 20px;
    font-weight: 600;
    text-align: end;
    color:#111;
    padding: 5px;
}

.sortWrap{
display: flex;
justify-content: flex-end;
align-items: center;
margin-right: 15px;
}

.sortWrap button{
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    border:1px solid $blueColor;
    background-color: white;
    cursor: pointer;
    color: $blueColor;
}
.sortWrap button:hover{
    background-color: $blueColor;
    color: white;
}

.card img {
    object-fit: cover;
}

label{
    display: inline-block;
    text-align: left;
    width: 50%;
}

.formGroup{
    margin-bottom:20px
}