<div class="container">
  <h1 class="pageTittle">Поддержаные машины</h1>

  <div class="sortWrap">
      <p>Сортировка:</p>
      <button (click)="flag=!flag" (click)="fetchProduct(flag)">По цене</button>
  </div>


  <div class="twoSection">
    <div class="filterWrap">
      <div class="filter">

        <p>Фильтр машин</p>
        <input type="text" placeholder="Поиск" [(ngModel)]="search" class="input">

        <div class="formGroup">
          <label for="gear">Тип</label>
          <select formControlName= "gear" id="gear">
            <option *ngFor="let gear of gears;" [ngValue]="gear">{{gear.name}}</option>
          </select>
        </div>

        <div class="formGroup">
          <label for="gear">Цвет</label>
          <select formControlName= "gear" id="gear">
            <option *ngFor="let gear of gears;" [ngValue]="gear">{{gear.name}}</option>
          </select>
        </div>
      </div>
      
    </div>

    <div class="cardsWrap">
      <div class="cards" *ngFor="let car of cars | searchCar:search">
        <div class="card">
          <a class="card__src" [routerLink]="['/oldCars', car.id]">
            <img src='{{car.img}}' alt="" width=100%  height=300>
            <h3>{{car.name}}</h3>
            <div class="card__info">
              <p>Тип: {{car.car_type}}</p>
              <p>Пробег: {{car.kilometrage}}</p>
            </div>
         
              <p>Двигатель: {{car.engine}}</p>
              <p>Владельцев: {{car.owner_count}}</p>
            <p class="card__price">{{car.price}} ₽</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
