<div class="container">
    <h1 class="pageTittle">Новые машины</h1>
    <div class="twoSection">
        <div class="filterWrap">
            <div class="filter">
                <p>Фильтр машин</p>
                <input type="text" placeholder="Поиск" [(ngModel)]="search" class="input">
               
            </div>
        </div>
      <div class="cars__wrap">
        <div class="cars__cardWrap"  *ngFor="let new of news.results">
          <div class="cars__card">
            <a class="cars__title" [routerLink]="['/news', new.id]">
              <img src='{{new.cover}}' alt="" width=100%>
              <h4>{{new.title}}</h4> 
            <p>{{new.content.substring(0, 150)}}</p>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  