@import 'var';

@mixin card{
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 4px 17px rgba(186, 186, 186, 0.25);
    padding: 1em;
    max-width: 420px;
    margin:15px;
}

@mixin date {
    color: $greyColor;
    font-size: 14px;
}

@mixin  input {
    padding: 5px;
    border:1px solid $greyColor;
    border-radius: 5px;
    width: 250px;
}

@mixin  btn-m-blue {
    padding: 10px 20px;
    background-color: $blueColor;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border:none;
    cursor: pointer;
    border:2px solid transparent;
    font-weight: 600;

    &:hover{
        color:$blueColor;
        background-color: white;
        border:2px solid $blueColor;
    }
}

@mixin button {
        border-radius: 5px;
        padding: 5px 10px;
        border:1px solid $blueColor;
        background-color: white;
        cursor: pointer;
        color: $blueColor;
        
    &:hover{
        background-color: $blueColor;
        color: white;
    }
}