@import 'var';
@import 'mixin';


.car img{
    width: 50%;
    max-width: 960px;
    border-radius: 5px;
}

.news__content{
    padding: 60px 0;
    max-width: 960px;
    line-height: 28px;
    font-size: 18px;
}


.car a {
    font-size: 14px;
    color: $greyColor;
    padding-right: 30px;
    text-decoration: underline;
    display: block;
    padding-bottom: 10px;
}

.car a:hover {
    color: $blueColor;
}

.car__wrap{
    display: flex;
    justify-content: space-between;
}

.personInfo{
    width: 40%;
    @include card;
    margin: 0;
    margin-left:30px;
    max-width: 100%;
    position: sticky;
    top:30px;
}

.personInfo h3{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.personInfo__info{
    width: 80%;
    margin: 50px auto;
}
.personInfo__info p{
    text-align: center;
    margin:10px auto;
    font-size: 18px;
}
.personInfo__info a{
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    opacity: 1;
}


.car__info{
    padding-top:60px
}

.car__info p {
    margin:15px 0;
    font-size: 18px;
}

.car__info div, quill-view-html p{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #111111;
    margin-bottom: 80px;
}

@media print {

    html, body{
        height: 297mm;
        width: 210mm;
    }

    @page{
        margin:20mm, 10mm, 20mm, 20mm;
    }

    .personInfo {
        box-shadow: none;
    }

    .car a {
        display: none;
    }

    .car__info div{
        page-break-inside: avoid;
    }
}