<div class="container">
     <div class="adminMenu">
<ul>
     <li> <a href="" [routerLink]="'/admin/allOldCars'" routerLinkActive="active">Поддержанные</a></li>
     <li> <a href="" [routerLink]="'/admin/addOldCars'" routerLinkActive="active">Добавить автомобиль</a></li>
     <li> <a href="" [routerLink]="'/admin/seeNews'" routerLinkActive="active">Новости</a></li>
     <li> <a href="" [routerLink]="'/admin/addNews'" routerLinkActive="active">Добавить новость</a></li>
     
     
</ul>
</div>


</div>

