@import 'var';

header{
    padding:1em 0;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    text-transform: uppercase;
    font-size: 25px;
    width: 12%;
}

.header__logo:hover{
    color: $blueColor;
}

ul{
    display: flex; 
}

ul li{
    font-size: 18px;
    padding-right: 70px;
}

ul a:last-child{
    padding: 0;
}

.header__user{
    display: flex;
    width: 12%;
    justify-content: space-between;
    align-items: center;
}



li a::after{
    content:""; 
    background-color: transparent;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-size: auto;
    display: block;  
}

li:hover a:after{
    background-color: $blueColor;
}

@media print {
    header{
display: none;
    }
}