<header>
    <div class="container">
        <div class="header__wrap">
            <a href="/" class="header__logo">CarBuy</a>
            <nav>
                <ul>
                    <li>
                <a [routerLink]="['/oldCars']" routerLinkActive="router-link-active">Поддержанные</a></li>
                <li> <a [routerLink]="['/news']" routerLinkActive="router-link-active">Новости</a></li>
                <li> <a href="">Сотрудничество</a></li>
                </ul>
            </nav>
            <div class="header__user">
                <a [routerLink]="['/sentCar']"  class="button">Продать</a>
                <a [routerLink]="['/routePath']"><img src="/assets/acount.svg" alt="account"></a>
            </div>
        </div>
    </div>
</header>