<div class="container">
  <h1 class="pageTittle">Добавить новость</h1>

  <form [formGroup]='addForm' (ngSubmit)="submit()">
    <div class="formGroup">
      <label for="title">Название новости</label>
      <input type="text" id="title" formControlName="title">
    </div>
    <div class="formGroup">
      <label for="content">Контент новости</label>
      <!-- <input type="text" id="content" formControlName="content"> -->
    </div>
    <!-- <div>
        <input type="file" name="img"  #input (change)="onFileUpload($event)">
        <button (click)="triggerClick()" [disabled]="addForm.disabled"  type="button">
          <i class="material-icons left">backup</i>
          Загрузить изображение
        </button>
      </div> -->

    <quill-editor class="wysiwyg" formControlName="content" type="text" id="content" ></quill-editor>

    <label for="file">File</label>
    <input formControlName="image" id="file" type="file" class="form-control" (change)="onFileChange($event.target.files)">


    <!-- <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px"> -->
    <button class="btn-m-blue" type="submit" [disabled]="addForm.invalid">Опубликовать</button>
  </form>
</div>
